<div class="close">
    <mat-icon (click)="closeDialog()">close</mat-icon>        
</div>
<p class="boldText heading">Select quiz</p>
<div class="quizOption">
    <div class="description">
        <div class="name">
            <p class="boldText">History test</p>
            <div class="language">
                <mat-icon>language</mat-icon>
                <p class="colorText">SK</p>
            </div>
        </div>
        <p class="secondaryText">
            Habsburg monarchi quiz with interactive questions
        </p>
    </div>
    <a class="mainButton" href="#">Take quiz</a>
</div>
<div class="quizOption">
    <div class="description">
        <div class="name">
            <p class="boldText">History test</p>
            <div class="language">
                <mat-icon>language</mat-icon>
                <p class="colorText">SK</p>
            </div>
        </div>
        <p class="secondaryText">
            Habsburg monarchi quiz with interactive questions
        </p>
    </div>
    <a class="mainButton" href="#">Take quiz</a>
</div>
<div class="quizOption">
    <div class="description">
        <div class="name">
            <p class="boldText">History test</p>
            <div class="language">
                <mat-icon>language</mat-icon>
                <p class="colorText">SK</p>
            </div>
        </div>
        <p class="secondaryText">
            Habsburg monarchi quiz with interactive questions
        </p>
    </div>
    <a class="mainButton" href="#">Take quiz</a>
</div>
<div class="quizOption">
    <div class="description">
        <div class="name">
            <p class="boldText">History test</p>
            <div class="language">
                <mat-icon>language</mat-icon>
                <p class="colorText">SK</p>
            </div>
        </div>
        <p class="secondaryText">
            Habsburg monarchi quiz with interactive questions
        </p>
    </div>
    <a class="mainButton" href="#">Take quiz</a>
</div>
<div class="quizOption">
    <div class="description">
        <div class="name">
            <p class="boldText">History test</p>
            <div class="language">
                <mat-icon>language</mat-icon>
                <p class="colorText">SK</p>
            </div>
        </div>
        <p class="secondaryText">
            Habsburg monarchi quiz with interactive questions
        </p>
    </div>
    <a class="mainButton" href="#">Take quiz</a>
</div>