<div class="close">
  <mat-icon (click)="closeDialog()" style="cursor:pointer;">close</mat-icon>
</div>
<p class="boldText heading">Profile Settings</p>
<div style="margin-bottom: 20px">
  <!-- <img src="assets/editProfile.svg" alt=""> -->
  <p class="secondaryText">{{data.role}}</p>
  <p class="boldText">{{data.firstname}} {{data.lastname}}</p>
</div>
<form (ngSubmit)="updateProfile()" [formGroup]="form" class="profileSettings">
  <div class="input">
    <div class="label">
      <p class="smallBoldText">nickname</p>
      <p class="colorText">change</p>
    </div>
    <input formControlName="nickname" type="text">
  </div>
  <div class="input">
    <div class="label">
      <p class="smallBoldText">email</p>
      <p class="colorText">change</p>
    </div>
    <input formControlName="email" type="email">
  </div>
  <div class="input">
    <div class="label">
      <p class="smallBoldText">firstname</p>
      <p class="colorText">change</p>
    </div>
    <input formControlName="firstname" type="text">
  </div>
  <div class="input">
    <div class="label">
      <p class="smallBoldText">lastname</p>
      <p class="colorText">change</p>
    </div>
    <input formControlName="lastname" type="text">
  </div>
  <div class="input">
    <div class="label">
      <p class="smallBoldText">current password</p>
      <p class="colorText">change</p>
    </div>
    <input formControlName="currentPassword" placeholder="Enter to set a new password (optional)" type="password">
  </div>
  <div class="input">
    <div class="label">
      <p class="smallBoldText">new password</p>
      <p class="colorText">change</p>
    </div>
    <input formControlName="newPassword" type="password">
  </div>
  <div class="input">
    <div class="label">
      <p class="smallBoldText">repeat new password</p>
      <p class="colorText">change</p>
    </div>
    <input formControlName="repeatNewPassword" type="password">
  </div>
  <button class="mainButton secondaryButton" type="submit">Save</button>
</form>
<a (click)="logout()" class="mainButton logout" style="cursor:pointer; margin: 20px auto auto;">
  <p>Logout</p>
  <mat-icon>logout</mat-icon>
</a>
