<div class="close">
    <mat-icon (click)="closeDialog()">close</mat-icon>            
</div>
<p class="boldText heading">Quiz history</p>
<div class="quizOption">
    <div class="history">
        <div>
            <p class="boldText">History test</p>
            <p class="secondaryText">16.11.2022</p>
        </div>
        <div class="score">
            <h5>SCORE</h5>
            <p class="boldText">1.5/3</p>
        </div>
    </div>
    <a href="#" class="mainButton">preview</a>
</div>
<div class="quizOption">
    <div class="history">
        <div>
            <p class="boldText">History test</p>
            <p class="secondaryText">16.11.2022</p>
        </div>
        <div class="score">
            <h5>SCORE</h5>
            <p class="boldText">1.5/3</p>
        </div>
    </div>
    <a href="#" class="mainButton">preview</a>
</div>
<div class="quizOption">
    <div class="history">
        <div>
            <p class="boldText">History test</p>
            <p class="secondaryText">16.11.2022</p>
        </div>
        <div class="score">
            <h5>SCORE</h5>
            <p class="boldText">1.5/3</p>
        </div>
    </div>
    <a href="#" class="mainButton">preview</a>
</div>
<div class="quizOption">
    <div class="history">
        <div>
            <p class="boldText">History test</p>
            <p class="secondaryText">16.11.2022</p>
        </div>
        <div class="score">
            <h5>SCORE</h5>
            <p class="boldText">1.5/3</p>
        </div>
    </div>
    <a href="#" class="mainButton">preview</a>
</div>
<div class="quizOption">
    <div class="history">
        <div>
            <p class="boldText">History test</p>
            <p class="secondaryText">16.11.2022</p>
        </div>
        <div class="score">
            <h5>SCORE</h5>
            <p class="boldText">1.5/3</p>
        </div>
    </div>
    <a href="#" class="mainButton">preview</a>
</div>