<div class="close">
  <mat-icon (click)="closeDialog()" style="cursor: pointer">close</mat-icon>
</div>
<p class="boldText heading">Tasks history</p>
<div *ngFor="let session of current_sessions" class="quizOption">
  <div class="history">
    <div>
      <p class="boldText">{{session.taskName}}</p>
      <p class="secondaryText">{{session.finishedAt | date: 'yyyy-MM-dd'}}</p>
    </div>
  </div>
  <a (click)="open_preview(session)" class="mainButton" style="cursor: pointer">preview</a>
</div>
<div style="margin-top: 20px">
  <button (click)="prev_sessions()" [disabled]="page === 0" mat-icon-button>
    <mat-icon>navigate_before</mat-icon>
  </button>

  <button (click)="next_sessions()" [disabled]="page >= max_pages - 1" mat-icon-button>
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
