<div class="close">
  <mat-icon (click)="closeDialog()" style="cursor: pointer">close</mat-icon>
</div>
<p class="boldText heading">Select task</p>

<div class="quizOption" *ngFor="let task of currentTasks; let i=index" style="margin-bottom: 20px;">
    <div class="description">
      <div class="name">
        <p class="boldText">{{task.name}}</p>
        <div class="language">
          <mat-icon>language</mat-icon>
            <select class="form-select form-select-sm form-control" [(ngModel)]="selectedLanguages[i]" (change)="onLanguageChange(selectedLanguages[i], i)">
              <option *ngFor="let language of task.scenario.languages">
                {{language}}
              </option>
            </select>
        </div>
      </div>
      <p class="secondaryText">
        {{task.description}}
      </p>
    </div>
  <div>
    <span *ngIf="task.openSessions.length === 0">
      <button (click)="startTask(i)" class="mainButton">Start</button>
    </span>
    <span *ngIf="task.openSessions.length > 0" style="display: flex; flex-direction: column; gap: 0.3rem; align-items: center">
      <button (click)="cancelTask(i)" class="mainButton" style="color: #F6F6F6 !important; background-color: #ec5b5b; padding: 0.3rem 2rem;">Finish</button>
      <button (click)="continueTask(i)" class="mainButton" style="color: #F6F6F6 !important; background-color: #6ba464; padding: 0.3rem 2rem;">Continue</button>
    </span>
  </div>
</div>
<div style="margin-top: 20px">
  <button (click)="prev_sessions()" [disabled]="page === 0" mat-icon-button>
    <mat-icon>navigate_before</mat-icon>
  </button>

  <button (click)="next_sessions()" [disabled]="page >= max_pages - 1" mat-icon-button>
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
