<div class="navbar">
  <div class="testik">
        <div class="logo">
          <a routerLink="/home"><img src="/assets/logo.svg"></a>
          <a routerLink="/home"><h3>LirkisEduVePn</h3></a>
        </div>
      <mat-icon (click)="showMenu()" *ngIf="canColapse()">menu</mat-icon>
  </div>
</div>

<div class="sidebar" *ngIf="colapse">
  <div class="flexCol">
      <mat-icon (click)="showMenu()">close</mat-icon>
      <div class="secondCol">
          <!-- <img src="assets/profile.svg" alt=""> -->
          <p class="boldTest">{{profile.firstname}} {{profile.lastname}}</p>
          <p class="secondaryText">{{profile.role}}</p>
      </div>
      <div class="secondCol" style="font-size: 24px;">
        <a class="boldTest" routerLink="/about">About</a>
        <a class="boldTest" routerLink="/login">Login</a>
        <a class="boldTest" routerLink="/register">Register</a>
      </div>
      <div>
        <!-- <a  class="boldTest">Logout</a> -->
        <mat-icon (click)="logout()">logout</mat-icon>
      </div>
      </div>
</div>
