<div class="navbar">
  <div class="testik">
        <div class="logo">
          <a routerLink="/home"><img src="/assets/logo.svg"></a>
          <a routerLink="/home"><h3>LirkisEduVePn</h3></a>
        </div>
      <mat-icon (click)="showMenu()" *ngIf="canCollapse()" style="cursor:pointer;">menu</mat-icon>
  </div>
</div>

<div *ngIf="collapse" class="sidebar">
  <div class="flexCol">
    <mat-icon (click)="showMenu()" style="cursor:pointer;">close</mat-icon>
    <div class="secondCol" style="font-size: 24px;">
      <a class="boldTest" routerLink="/about">About</a>
      <a *ngIf="isLogged" class="boldTest" routerLink="/user/profile">Profile</a>
      <a *ngIf="isLogged && (role === 'ADMIN' || role === 'TEACHER')" class="boldTest"
         routerLink="/dashboard">Dashboard</a>
      <a *ngIf="!isLogged" class="boldTest" routerLink="/login">Login</a>
      <a *ngIf="!isLogged" class="boldTest" routerLink="/register">Register</a>
    </div>
    <div *ngIf="isLogged">
      <mat-icon (click)="logout()" style="cursor:pointer;">logout</mat-icon>
    </div>
  </div>
</div>
