<div class="navbar">
  <div class="testik">
        <div class="logo">
          <a routerLink="/home"><img src="/assets/logo.svg"></a>
          <a routerLink="/home"><h3>LirkisEduVePn</h3></a>
        </div>
      <mat-icon (click)="showMenu()" *ngIf="canColapse()">menu</mat-icon>
  </div>
</div>

<div class="sidebar" *ngIf="colapse">
  <div class="flexCol">
      <mat-icon (click)="showMenu()">close</mat-icon>
      <div class="secondCol">
          <!-- <img src="assets/profile.svg" alt=""> -->
          <p class="boldTest">Lukas Pisarcik</p>
          <p class="secondaryText">student</p>
      </div>
      <div class="secondCol">
          <a class="boldTest" routerLink="/about">About</a>
          <!-- <a class="boldTest" id="joinBtn">Join Quiz</a>
          <a class="boldTest" id="createBtn">Create Quiz</a>
          <a class="boldTest" id="historyBtn">Quiz History</a>
          <a class="boldTest" id="profileBtn">Profile settings</a> -->
      </div>
      <a href="login.html">
          <!-- <img src="assets/logoutWhite.svg" alt="" width="30px"> -->
      </a>
      </div>
</div>