.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0rem auto 0;
}

/* .card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  padding: 1.5rem;
  background-color: white;
  border: none;
  min-width: 25vw;
} */

.center {
  max-width: max-content;
  padding: 3rem 3rem !important;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-self: center;
  margin: 0rem auto 0;
}

h3{
  padding: 2rem 0 !important;
  font-size: 1.5rem !important;
}

.boldText {
  font-weight: 700;
}

.heading {
  font-size: 1.3rem;

  /* my changes */
  /*margin: 1rem 0 !important;*/
  margin-bottom: 50px;
  margin-top: 20px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input {
  border: none;
  background-color: white;
  border-radius: 3rem;
  padding: 0.7rem 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: left;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));

  /*my changes*/
  width: 13rem;
  /*margin-bottom: 15px;*/
}

.mainButton {
  max-width: fit-content;
  border: none;
  background-color: white;
  border-radius: 3rem;
  padding: 0.7rem 3rem;
  /*color: var(--purple-color);*/
  color: mediumpurple;
  font-size: 0.8rem;
  font-weight: 700;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));

  /* my changes */
  margin-top: 30px;
}

.secondaryButton {
  width: 85%;
  color: white;
  /*background-color: var(--purple-color);*/
  background-color: mediumpurple;
}

.center-form {
  display: grid;
  place-items: center;
}

.error-content {
  color: red;
}

.snackbar-custom {
  background-color: blue;
}

.snackbar-dismiss-icon {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 18px;
}

a{
  color: var(--purple-color) !important;
  padding: 0;
}

p{
  margin: 0;
}
