<div class="content">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Firstname</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tasks">
      <mat-header-cell *matHeaderCellDef>Groups</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <select>
          <option *ngFor="let task of row.tasks" [disabled]="true" [value]="task.id">{{task.name}}</option>
        </select>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon (click)="openUpdateDialog(row.id)" style="cursor: pointer">edit</mat-icon>
        <mat-icon (click)="openDeleteDialog(row.id)" style="cursor: pointer">delete</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSizeOptions]="[5]" class="mat-elevation-z8" showFirstLastButtons
                 style="margin-top: 1px;"></mat-paginator>
</div>

<div style="border: groove 1px black; margin-top: 50px; padding: 20px; display: inline-block">
  <app-group-settings></app-group-settings>
</div>
