<div class="container">
    <div class="mainContent">
        <div class="welcomeAndProfile">
            <div class="welcome">
                <h2>Hi {{profile.firstname}} {{profile.lastname}},</h2>
                <h1>Welcome Back 👋</h1>
            </div>
            <div class="profile">
                <div>
                    <p class="secondaryText">{{profile.role}}</p>
                    <p class="boldText">{{profile.firstname}} {{profile.lastname}}</p>
                    <div class="settings" id="profileArrow">
                        <mat-icon>settings</mat-icon>
                        <p class="colorText">Profile settings</p>
                    </div>
                </div>
                <!-- <img src="assets/profile.svg" alt="" class="profilePicture"> -->
            </div>
        </div>
        <div class="selectionBoxes">
            <div class="about card">
                <div class="content">
                    <h4>Webová virtuálna realita pre vzdelávanie</h4>
                    <p class="secondaryText">Technológie virtuálnej reality (VR) vedia používateľom ponúknuť rôzne zážitky a skúsenosti. Jedným z tých pozoruhodnejších a významnejších je ponorenie do histórie. Vo VR môže človek preskúmať historické prostredie a dozvedieť sa o ňom jedinečným dynamickým spôsobom.</p>
                    <button class="mainButton">see more</button>
                </div>
            </div>
            <div class="quizBoxes">
                <div class="card">
                    <div>
                        <h5>Join quiz</h5>
                        <p class="secondaryText">complete quizes assigned to you by your teachers</p>
                    </div>
                    <mat-icon>navigate_next</mat-icon>
                </div>
                <div class="card">
                    <div>
                        <h5>Create quiz</h5>
                        <p class="secondaryText">create own custom quiz</p>
                    </div>
                    <mat-icon>navigate_next</mat-icon>
                </div>
                <div class="card">
                    <div>
                        <h5>Quiz history</h5>
                        <p class="secondaryText">review quizzes you took in the past  </p>
                    </div>
                    <mat-icon>navigate_next</mat-icon>
                </div>
            </div>
        </div>
    </div>