.groups p {
  font-size: 0.5rem;
  opacity: 0.6;
  border: 0.5px solid rgba(30, 30, 30, 0.6);
  padding: 0.2rem 0.5rem !important;
  border-radius: 3rem;
}

.active {
  color: #44953D;
  border-color: #44953D !important;
}

.petriNet {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

.file {
  display: flex;
  align-items: center;
  color: black !important;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.profileSettings {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 20vw;
  padding: 0 2rem;
  justify-content: center;
  align-items: center;
}

.slide-box {
  width: 350px;
  height: 250px;
  overflow: scroll;
  display: flex;
  /*flex-direction: row;*/
  /*justify-content: flex-start;*/
}

mat-radio-button {
  display: flex;
  flex-direction: column;
}
