<div class="close">
    <mat-icon (click)="closeDialog()">close</mat-icon>
</div>
<p class="boldText heading">Create quiz</p>
<form (ngSubmit)="send()" [formGroup]="form" class="profileSettings">
  <input formControlName="name" placeholder="Quiz name*" type="text">
  <input formControlName="description" placeholder="Quiz description" type="text">
  <p class="boldText">Import petri net scenario</p>
  <div class="petriNet">
    <!--        <select name="petri net" id="petriNet" class="file select mainButton">-->
    <!--            <option value="predefined">predefined</option>-->
    <!--            <option value="predefined">predefined</option>-->
    <!--            <option value="predefined">predefined</option>-->
    <!--        </select>-->
    <div class="file mainButton">
      <input (change)="onFileSelected($event)" type="file">
    </div>
  </div>
  <button [disabled]="form.invalid" class="mainButton secondaryButton" id="createQuizBtn" type="submit">Create quiz
  </button>
</form>
