<div class="dashboard">
  <div class="card">
    <p class="colorText">TOTAL FIRING ATTEMPTS</p>
    <h1>{{totalAttempts}}</h1>
  </div>

  <div class="card">
    <p class="colorText">CORRECT FIRING ATTEMPTS</p>
    <h1>{{correctAttempts}}</h1>
  </div>

  <div class="card">
    <p class="colorText">INCORRECT FIRING ATTEMPTS</p>
    <h1>{{incorrectAttempts}}</h1>
  </div>

  <div class="card">
    <p class="colorText">PERCENTAGE OF CORRECT ATTEMPTS</p>
    <h1>{{percentage}}%</h1>
  </div>
</div>
