<mat-card (click)="CreateScenarioDialogOpen()" class="my-card">
  <mat-card-title class="my-card-title">Create Scenario</mat-card-title>
  <mat-card-content class="my-card-content">
    This is where you can create a new scenario.
  </mat-card-content>
</mat-card>

<mat-card (click)="CreateSceneDialogOpen()" class="my-card" style="margin-top: 50px;">
  <mat-card-title class="my-card-title">Create Scene</mat-card-title>
  <mat-card-content class="my-card-content">
    This is where you can create a new scene.
  </mat-card-content>
</mat-card>

<mat-card (click)="CreateTaskDialogOpen()" class="my-card" style="margin-top: 50px;">
  <mat-card-title class="my-card-title">Create Task</mat-card-title>
  <mat-card-content class="my-card-content">
    This is where you can create a new task.
  </mat-card-content>
</mat-card>
