<div class="column-block">
  <mat-card (click)="CreateScenarioDialogOpen()" class="my-card">
    <mat-card-title class="my-card-title">Create Scenario</mat-card-title>
    <mat-card-content class="my-card-content">
      This is where you can create a new scenario.
    </mat-card-content>
  </mat-card>

  <mat-card (click)="CreateSceneDialogOpen()" class="my-card" style="margin-top: 50px;">
    <mat-card-title class="my-card-title">Create Scene</mat-card-title>
    <mat-card-content class="my-card-content">
      This is where you can create a new scene.
    </mat-card-content>
  </mat-card>

  <mat-card (click)="CreateTaskDialogOpen()" class="my-card" style="margin-top: 50px;">
    <mat-card-title class="my-card-title">Create Task</mat-card-title>
    <mat-card-content class="my-card-content">
      This is where you can create a new task.
    </mat-card-content>
  </mat-card>
</div>

<div class="column-block">
  <mat-card (click)="UsersDashboardOpen()" class="my-card">
    <mat-card-title class="my-card-title">Manage Users</mat-card-title>
    <mat-card-content class="my-card-content">
      This is where you can manage users.
    </mat-card-content>
  </mat-card>

  <mat-card (click)="GroupsTasksOpen()" class="my-card" style="margin-top: 50px;">
    <mat-card-title class="my-card-title">Manage Groups Tasks</mat-card-title>
    <mat-card-content class="my-card-content">
      This is where you can manage groups tasks.
    </mat-card-content>
  </mat-card>

  <mat-card (click)="GroupsHistoryOpen()" class="my-card" style="margin-top: 50px;">
    <mat-card-title class="my-card-title">Groups Task History</mat-card-title>
    <mat-card-content class="my-card-content">
      Watch task history of users in different groups
    </mat-card-content>
  </mat-card>
</div>
